body {
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
  color: #1e3925;

}

/* span {
  color: #24e357;
  font-weight: bold;
} */
p{
  font-size: 14px;
}
.bold-info{
  font-weight: bold;
  font-size: 18px;
}

.container {

  background-image: url('D:/it_intersession/handson-2023-1-equipe-3/extension/public/images/BgExtension.svg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px 0px 15px 15px;
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 400px;
  padding-top: 20px;

}

.first {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.second {
  line-height: 25px;

  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-left: 10px;
  color: #1e3925;
}

.box {
  padding-left: 10px;
  width: 60%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-weight: bold;
  justify-content: space-between;
  font-size: 12px;


}

.box>img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.third {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;

  padding-left: 20px;


  color: rgb(255, 255, 255);

}

.custom-button {
  all: unset;
}

.all-button {
  width: 250px;
  height: 50px;
  background-color: #00C037;
  border-radius: 76px 76px 76px 76px;
  ;
  display: flex;
  margin: 0px;
  cursor: pointer;

}

.all-button:hover {
  border: solid 1px;
  background-color: white;
  color: #00C037;


}

.custom-button-left {
  width: 50px;
  height: 100%;
  background-color: white;
  margin: 0px;
  border-radius: 76px 76px 76px 76px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.custom-button-right {
  width: 200px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;

}